{% extends 'base.html' %}

{% block content %}

    <div class="block">
        <div class="block">
            <h2 class="title is-2">Create Account</p>
        </div>
        <div class="block">
            <form class="form-horizontal" method="post">
            
                {% csrf_token %}                
                
                <!-- Text input-->
                <div class="field">
                  <label class="label" for="username">Username</label>
                  <div class="control">
                    <input id="username" name="username" type="text" class="input " required="">
                    
                  </div>
                </div>
                
                <!-- Text input-->
                <div class="field">
                  <label class="label" for="email">Email</label>
                  <div class="control">
                    <input id="email" name="email" type="text" class="input " required="">
                    
                  </div>
                </div>
                
                <!-- Password input-->
                <div class="field">
                  <label class="label" for="password1">Password</label>
                  <div class="control">
                    <input id="password1" name="password1" type="password" class="input " required="">
                    
                  </div>
                </div>
                
                <!-- Password input-->
                <div class="field">
                  <label class="label" for="password2">Confirm Password</label>
                  <div class="control">
                    <input id="password2" name="password2" type="password" class="input " required="">
                    
                  </div>
                </div>

                <button class="button is-success is-fullwidth is-medium mt-5" type="submit">
                    Create
                </button>

            </form>
        </div>
    </div>

{% endblock content %}
    
