{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="columns">
            <div class="column is-half">
                <h4>{{ profile.user.username }} follows</h4>
                <ul>
                    {% for following in profile.follows.all %}
                        <li><a href="{% url 'gwitter:profile' following.user.username %}">{{ following }}</a></li>
                    {% endfor %}
                </ul>
            </div>
                
            <div class="column is-half">
                <h4>{{ profile.user.username }} is followed by</h4>
                <ul>
                    {% for follower in profile.followed_by.all %}
                        <li><a href="{% url 'gwitter:profile' follower.user.username %}">{{ follower }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    
{% endblock content %}